html,body,#app{
  font-family: '微软雅黑';
  font-size:14px;
  background: #dddddd;
  height: 100%;
  width: 100%;
}
.index-top-block{
  height:10.5rem;
  width: 100%;
  background: #dddddd;
}
.index-room-no{
  height:2rem;
  line-height:2rem;
  width: 80%;
  margin:0 auto;
  background: #ffffff;
  border-radius:5px;
  position: absolute;
  bottom:-15px;
  left:9%;
  font-size:12px;
  color:#434343;
  padding-left:5px;
}
.index-room-opr{
  height:180px;
  margin-top:25px;
  background: #ffffff;
}
.main{
  overflow-y: auto;
  overflow:auto;/* winphone8和android4+ */
  webkit-overflow-scrolling: touch;
  z-index:1;
  height:100%;
  padding:10px 10px;
  background: #f3f3f3;
}
.index-left-top{
  text-align: center;
  color: #fff;
  background-color: #ffffff;
}
.index-right-top{
  /*text-align: center;*/
  color: #fff;
}
.index-right-item{
  height:10rem;
}
.index-left-item{
  height:10rem;
}
.index-right-item-child{
  height:4.5rem;
  line-height: 4.5rem;
  background-color: #ffffff;
}
.index-list-item{
  height:3rem;
  line-height: 3rem;
  background-color: #ffffff;
}
.index-list-item-service{
  display: inline-block;
  height:3rem;
  line-height: 3rem;
  background: #ffffff;
  width: 100px;
}
.margin-top10{
  margin-top:1rem;
}
.margin-top15{
  margin-top:1.5rem;
}
.margin-top20{
  margin-top:2rem;
}
.margin-top25{
  margin-top:4rem;
}
.margin-right15{
  margin-right:15px;
}
.padding-tb-10{
  padding:10px 0px;
}
.font-10{
  font-size:0.8rem;
}
.font-12{
  font-size:12px;
}
.color-434343{
  color:#434343;
}
.color-8a8a8a{
  color:#8a8a8a;
}
.text-center{
  text-align: center;
}
.user-logo{
  height:4rem;
  width: 4rem;
  border:1px solid #dddddd;
  border-radius: 4rem;
  margin-top:10px;
  margin-left:15px;
}
.user-info{
  margin-left:25px;
  margin-top:10px;
}
.myInfoList .weui-cells{
  margin-top: 1.17647059em;
  background-color: #FFFFFF;
  line-height: 1.41176471;
  font-size: 17px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
.myInfoList span{
  position: relative;
  top:-1px;
}
.control-right-opr{
  margin-left:55px;
  height:85%;
  width:78%;
  position: absolute;
  top:1.5rem;
  background: #ffffff
}
.control-menu{
  text-align: center;
  margin-top:50px;
  height:40px;
  line-height:40px;
  width: 40px
}
.img-class{
  height:100%;
  width: 100%;
}
.control-opr-img{
  height:2.5rem;
  width: 2.5rem;
}
.control-opr-title{
  color:#434343;
  font-size:1.1rem;
}

/*温度计*/
.main-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 22rem;
  width: 120px;
  border:1px solid #dddddd;
}

.upper-container {
  position: relative;
  background: linear-gradient(to bottom right, #5564c2, #3a2e8d);
}
.lower-container {
  background-color: #f5f5f5;
}

.temperature-text {
  position: relative;
  top: 40%;
  left:5%;
  font-size: 1.2rem;
  width: 10%;
  text-align: center;
  user-select: none;
}

.temperature-element {
  text-align: center;
  display: block;
  width: 40px;
  height:49px;
  margin: 10px 0px 10px 0px;
  opacity: 0.7;
}

.temperature-element-line {
  font-size: 7px;
}

.temperature-graduation {
  position: absolute;
  left: calc(40% - 0px);
  top: calc(4% - 0px);
  user-select: none;
}

.slider-container {
  width: 20px;
  height: 70px;
  margin-top: 0px;
  margin-left: calc(50% - 77px);
  position: relative;
}

.slider-button {
  position: absolute;
  left: 42px;
  top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #bbbbbb;
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  z-index: 999999;
}

.slider-icon {
  margin-top: 13px;
  margin-left: 16px;
  color: white;
}
